@charset "UTF-8";

.inner {
  width: 1100px;
  margin: 0 auto;
}

.header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 999;
}
.header-inner i {
  font-size: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  float: left;
}
.header-inner a {
  display: block;
  float: right;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  padding: 14px 12px;
  margin-top: 15px;
  background-color: #74cfae;
  font-family: Lato;
  transition: all 0.3s ease;
}
.header-inner a:hover {
  color: #333;
}

.title {
  width: 100%;
  background-color: #f2f2f2;
}
.title-inner {
  text-align: center;
}
.title-inner h1 {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  padding-top: 320px;
  margin-bottom: 20px;
  font-family: Raleway;
}
.title-inner p {
  font-size: 30px;
  color: #c0c0c0;
  padding-bottom: 250px;
  font-family: Raleway;
}

.what-we-can-do {
  width: 100%;
  background-color: #74cfae;
  color: #fff;
  line-height: 30px;
}
.what-we-can-do-inner {
  display: table;
}
.what-we-can-do-inner img{
  display: table-cell;
  margin-top: 50px;
}
.what-we-can-do__text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.what-we-can-do__text h1 {
  font-size: 24px;
  margin-bottom: 35px;
  font-family: Raleway;
}
.what-we-can-do__text p {
  font-size: 20px;
  font-family: Lato;
}

.our-latest-work {
  background-color: #f2f2f2;
}
.our-latest-work-inner h1 {
  font-size: 24px;
  text-align: center;
  padding-top: 60px;
  margin-bottom: 40px;
  font-family: Raleway;
}
.our-latest-work__img:after {
  content: "";
  display: block;
  clear: both;
}
.our-latest-work__img img {
  float: left;
  margin-right: 100px;
  margin-bottom: 80px;
  opacity : 0.7;
  transition: all 0.3s ease;
}
.our-latest-work__img img:hover {
  opacity : 1;
}
.our-latest-work__img img:nth-child(3),
.our-latest-work__img img:nth-child(6) {
  margin-right: 0;
}
.our-latest-work__img img:nth-child(4),
.our-latest-work__img img:nth-child(5),
.our-latest-work__img img:nth-child(6) {
  margin-bottom: 0;
}
.our-latest-work__text {
  display: table;
  margin: 0 auto;
}
.our-latest-work__text p {
  display: table-cell;
  text-align: center;
  padding-top: 90px;
  padding-right: 90px;
  padding-bottom: 70px;
  font-size: 20px;
  line-height: 30px;
  font-family: Lato;
}
.our-latest-work__text a {
  display: block;
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 20px;
  text-decoration: none;
  font-family: Lato;
  transition: all 0.3s ease;
}
.our-latest-work__text a:hover {
  color: #333;
}

.our-skills {
  width: 100%;
  background-color: #4e4e4e;
}
.our-skills-inner h1 {
  padding-top: 70px;
  padding-bottom: 70px;
  font-size: 24px;
  color: #fff;
  text-align: center;
  font-family: Raleway;
}
.our-skills__img {
  display: inline-block;
  text-align: center;
  color: #fff;
  margin-right: 180px;
  padding-bottom: 100px;
}
.our-skills__img:last-child {
  margin-right: 0;
}
.our-skills__img p {
  margin-top: 20px;
  font-size: 16px;
  font-family: Lato;
}

.sns {
  width: 100%;
  background-color: #f2f2f2;
}
.sns-inner {
  text-align: center;
}
.sns-inner i {
  width: 185px;
  font-size: 40px;
  padding: 40px;
  margin-top: 200px;
  margin-bottom: 200px;
  color: #74cfae;
  transition: all 0.3s ease;
}
.sns-inner i:hover {
  background-color: #fff;
}

.footer {
  width: 100%;
  background-color: #74cfae;
}
.footer-inner {
  color: #fff;
  text-align: right;
  padding-top: 20px;
  padding-bottom: 25px;
  font-family: Lato;
}