@charset "UTF-8";

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
.inner {
  width: 1100px;
  margin: 0 auto;
}
.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
}
.header-inner {
  padding-top: 15px;
  padding-bottom: 15px;
}
.header-inner i {
  float: left;
  font-size: 40px;
}
.header-inner a {
  background-color: #74cfae;
  color: #fff;
  float: right;
  font-size: 12px;
  font-family: Lato;
  padding: 14px 12px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.header-inner a:hover {
  color: #333;
}
.title {
  background-color: #f2f2f2;
}
.title-inner {
  text-align: center;
  padding-top: 320px;
  padding-bottom: 250px;
}
.title-inner h1 {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  font-family: Raleway;
}
.title-inner p {
  color: #c0c0c0;
  font-size: 30px;
  font-family: Raleway;
  margin-top: 20px;
}
.what-we-can-do {
  background-color: #74cfae;
}
.what-we-can-do-inner {
  color: #fff;
  font-size: 0;
  padding-top: 50px;
  text-align: center;
}
.what-we-can-do-inner img {
  float: left;
  margin-left: 100px;
}
.what-we-can-do__text {
  float: right;
}
.what-we-can-do__text h2 {
  font-size: 24px;
  font-family: Raleway;
}
.what-we-can-do__text p {
  font-size: 20px;
  font-family: Lato;
  line-height: 30px;
  margin-top: 35px;
  width: 650px;
}
.our-latest-work {
  background-color: #f2f2f2;
}
.our-latest-work-inner {
  font-size: 0;
  padding-top: 60px;
  padding-bottom: 70px;
}
.our-latest-work-inner h2 {
  font-size: 24px;
  font-family: Raleway;
  text-align: center;
}
.our-latest-work__img {
  margin-top: 40px;
}
.our-latest-work__img a {
  float: left;
  margin-left: 100px;
  opacity : 0.7;
  transition: all 0.3s ease;
}
.our-latest-work__img a:nth-child(3n+1) {
  margin-left: 0;
}
.our-latest-work__img a:nth-child(n+4) {
  margin-top: 80px;
}
.our-latest-work__img a:hover {
  opacity : 1;
}
.our-latest-work__text {
  margin-top: 90px;
  text-align: center;
}
.our-latest-work__text p {
  display: inline-block;
  font-size: 20px;
  font-family: Lato;
  line-height: 30px;
  width: 580px;
}
.our-latest-work__text a {
  background-color: #74cfae;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-family: Lato;
  margin-left: 90px;
  padding: 14px 20px;
  text-decoration: none;
  transition: all 0.3s ease;
  vertical-align: top;
}
.our-latest-work__text a:hover {
  color: #333;
}
.our-skills {
  background-color: #4e4e4e;
}
.our-skills-inner {
  color: #fff;
  padding-top: 70px;
  padding-bottom: 100px;
  text-align: center;
}
.our-skills-inner h2 {
  font-size: 24px;
  font-family: Raleway;
}
.our-skills__img__box {
  margin-top: 70px;
}
.our-skills__img {
  display: inline-block;
  margin-left: 180px;
}
.our-skills__img:first-child {
  margin-left: 0;
}
.our-skills__img p {
  font-size: 16px;
  font-family: Lato;
  margin-top: 20px;
}
.sns {
  background-color: #f2f2f2;
}
.sns-inner {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.sns-inner a {
  color: #74cfae;
  display: inline-block;;
  font-size: 50px;
  padding-top:20px;
  padding-bottom: 20px;
  transition: all 0.3s ease;
  width: 185px;
}
.sns-inner a:hover {
  background-color: #fff;
}
.footer {
  background-color: #74cfae;
}
.footer-inner {
  color: #fff;
  font-family: Lato;
  padding-top: 20px;
  padding-bottom: 25px;
  text-align: right;
}