@charset "UTF-8";

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
.body {
  font-family: Lato;
}
.font-type-a {
  font-family: Raleway;
}
.inner {
  width: 1100px;
  margin: 0 auto;
}
.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.header-inner {
  padding: 15px 0;
}
.fa-bolt {
  color: #4e4e4e;
  float: left;
  font-size: 50px;
}
.header-button {
  background-color: #74cfae;
  color: #fff;
  float: right;
  font-size: 12px;
  padding: 14px 12px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.header-button:hover {
  color: #333;
}
.main {
  padding-top: 80px;
}
.title {
  background-color: #f2f2f2;
}
.title-inner {
  text-align: center;
  padding: 250px 0 250px;
}
.title-inner h1 {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}
.title-inner p {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
}
.what-we-can-do {
  background-color: #74cfae;
}
.what-we-can-do-inner {
  color: #fff;
  font-size: 0;
  padding-top: 50px;
  text-align: center;
}
.what-we-can-do-inner img {
  float: left;
  padding-left: 100px;
}
.what-we-can-do__text {
  float: right;
}
.what-we-can-do__text h2 {
  font-size: 24px;
}
.what-we-can-do__text p {
  font-size: 20px;
  line-height: 30px;
  margin-top: 35px;
  width: 650px;
}
.our-latest-work {
  background-color: #f2f2f2;
}
.our-latest-work-inner {
  font-size: 0;
  padding: 60px 0 70px;
}
.our-latest-work-inner h2 {
  font-size: 24px;
  text-align: center;
}
.our-latest-work__img {
  margin-top: 40px;
}
.our-latest-work__img li {
  float: left;
  margin-left: 100px;
  opacity : 0.7;
  transition: all 0.3s ease;
}
.our-latest-work__img li:nth-child(3n+1) {
  margin-left: 0;
}
.our-latest-work__img li:nth-child(n+4) {
  margin-top: 80px;
}
.our-latest-work__img li:hover {
  opacity : 1;
}
.our-latest-work__text {
  margin-top: 90px;
  text-align: center;
}
.our-latest-work__text p {
  display: inline-block;
  font-size: 20px;
  line-height: 30px;
  width: 580px;
}
.our-latest-work__text a {
  background-color: #74cfae;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  margin-left: 90px;
  padding: 14px 20px;
  text-decoration: none;
  transition: all 0.3s ease;
  vertical-align: top;
}
.our-latest-work__text a:hover {
  color: #333;
}
.our-skills {
  background-color: #4e4e4e;
}
.our-skills-inner {
  color: #fff;
  padding: 70px 0 100px;
  text-align: center;
}
.our-skills-inner h2 {
  font-size: 24px;
}
.our-skills__img__box {
  margin-top: 70px;
}
.our-skills__img__box li {
  display: inline-block;
  margin-left: 180px;
}
.our-skills__img__box li:first-child {
  margin-left: 0;
}
.our-skills__img__box li p {
  font-size: 16px;
  margin-top: 20px;
}
.sns {
  background-color: #f2f2f2;
  font-size: 0;
}
.sns-inner {
  font-size: 0;
  padding: 200px 0;
  text-align: center;
}
.sns-inner li {
  display: inline-block;
  padding: 20px 0;
  transition: all 0.3s ease;
  width: 185px;
}
.sns-inner li a {
  color: #74cfae;
  font-size: 50px;
}
.sns-inner li:hover {
  background-color: #fff;
}
.footer {
  background-color: #74cfae;
}
.footer-inner {
  color: #fff;
  padding: 20px 0 25px;
  text-align: right;
}

@media screen and (max-width:1199px){
  .inner {
    width: 97%;
  }
  .what-we-can-do-inner {
    padding-bottom: 25px;
  }
  .what-we-can-do-inner img {
    float: none;
    padding-left: 0;
  }
  .what-we-can-do__text {
    float: none;
  }
  .what-we-can-do__text h2 {
    margin-top: 20px;
  }
  .what-we-can-do__text p {
    margin-top: 35px;
    display: inline-block;
    width: 700px;
  }
  .our-latest-work__img li {
    align-items: center;
    display: flex;
    flex-direction: column;
    float: none;
    margin: 0 auto;
    width: 300px;
  }
  .our-latest-work__img li:nth-child(3n+1) {
    margin-left: auto;
  }
  .our-latest-work__img li:nth-child(n+4) {
    margin-top: 0;
  }
  .our-latest-work__img li:nth-child(4n) {
    margin-top: 80px;
  }
  .our-latest-work__text {
    margin-top: 80px;
  }
  .our-latest-work__text p {
    width: 100%;
  }
  .our-latest-work__text a {
    display: block;
    margin: 40px auto 0;
    padding: 14px 20px;
    width: 100px;
  }
  .our-skills__img__box li {
    display: block;
    margin: 0 auto;
  }
  .our-skills__img__box li:nth-child(n+2) {
    margin-top: 88px;
  }
}

@media screen and (max-width:767px){
  .header-button {
    display: none;
  }
  .header-hamburger {
    border: 1px solid #ddd;
    border-radius: 4px;
    float: right;
    height: 20px;
    padding: 10px;
    position: relative;
    width: 30px;
  }
  .header-hamburger__line,
  .header-hamburger__line::before,
  .header-hamburger__line::after {
    background: #ddd;
    content: '';
    cursor: pointer;
    display: block;
    height: 3px;
    position: absolute;
    width: 30px;
  }
  .header-hamburger__line::before {
    top: 9px;
  }
  .header-hamburger__line::after {
    top: 18px;
  }
  .title-inner {
    padding: 160px 0 130px;
    width: 350px;
  }
  .title-inner h1 {
    font-size: 80px;
  }
  .what-we-can-do__text p {
    width: 350px;
  }
  .our-latest-work__text p {
    width: 350px;
    margin: 0 auto;
  }
  .sns-inner {
    padding: 50px 0;
  }
  .sns-inner li {
    width: 100%;
  }
}